@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

#profile {
    background-color: #240b36;
    border-radius: 10px;
    box-shadow: 11px 4px 80px 2px rgba(0,3,4,3.85);
    opacity: 0.9;
    position:fixed;
    top: 50%;
    left: 35%;
    width: 55em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
	align-content: center;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; 
}

.container {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(-90deg, #7b4397 ,#dc2430); */
    background-image: linear-gradient(-90deg, #ff512f, #dd2476 ,#b92b27 ); 
}

.time{
    /* border: 1px solid white; */
    margin-left: 100px;
    margin-top: 15px;
    width: 20px;
    padding-left: 55px;
    padding-top: 45px;
    display: inline-block;
    font-size: 100px;
    color: white;
    font-family: 'ABeeZee', sans-serif
}

#hours{
    margin-left: 51px;
}

#min{

}

#sec{

}

/* 
    background-image: linear-gradient(-90deg, #7b4397 ,#dc2430);
#0f2027  #203a43 #2c5364 - night
#b92b27 #1565c0 - afternoon

#f12711 #f5af19 - 12pm
#659999 - #f4791f - transition

#8360c3 - #2ebf91

#009fff - #ec2f4b

#8a2387 - #e94057 - #f27121
#da4453 - #89216b
#7f7fd5 - #86a8e7 - #91eae4 mornign
#c31432  - #240b36 - evening



#23074d - #cc5333

*/ 